extends layout

block content
  h1= title

  form(id='palaceForm' action="/resource/resource/palaces/" method="POST")
    div.form-group
      label.palaceAttr(for='palacename') palacename
      input#palacename(type='text' name='palacename')
    div.form-group
      label.palaceAttr(for='location') location
      input#location(type='text' name='location')
    div.form-group
      label.palaceAttr(for='constructed_year') constructed_year
      input#constructed_year(type='number' name='constructed_year')
    input(type="submit")

  script.
    document.forms['palaceForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });


